.btn {
    margin-bottom: 20px;
    width: 150px;
}
.buttons-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a.car-link {
    font-weight: bold;
    font-size: large;
}

a, img {
    max-width: 266px;
}

img.sold-status {
    width: 180px;
}

.car-photo {
    border-radius: 0.25rem;
    border: 1px solid rgba(0,0,0,.125)

}

p.car-description {
    color: lightslategray;
}
